body {
    background-color: lightblue;
  }    
h1{
    color: yellow;
} 
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp4778521.jpg") repeat;
}